.card {
  min-height: 200px;
  cursor: pointer;

  &-title {
    color: black;
  }
  &-text {
    font-size: smaller;
    color: grey;
  }
}

.carousel {
  &-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
}
