.planet {
  &-image {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -100px;
    margin: 0 auto;
  }
  &-container {
    position: relative;
    border-radius: 25px;
    min-height: 300px;
    padding-top: 200px;
  }
}
